<head>
    <link rel="stylesheet" href="../../static/css/navbar.css">
</head>
<header>
    <nav class="nav-bar" role="navigation">
        <div class="imagen-logo"><img src="../static/css/img/refugio logo.jpg" alt="logo"></div>
        <div class="links">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li class="hist-ternu"><a href="Ternura.html" target="_self">Historia de superación:
                        Ternura</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li> <a href="#">Catalogo de perros</a></li>
                <li><a href="#">Encuentra tu perro</a></li>
            </ul>
        </div>
    </nav>
</header>