<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../static/css/slider.css">
</head>

<body>
    <!--<div>
        <button id="estado">
            Vista
        </button>
    </div>-->
    
    <div class="slider" id="slider">
        <div class="flecha flechaant rotar-180 negativo" id="ant"><img src="../../static/css/img/boton siguiente - copia.png" alt="ant" height="100px" width="100px"></div>
        <div class="imagen" id="imagen-container"><img name="Imagen" src="../../static/css/img/Empoderada.jpeg" alt="Imagen" height="100%" width="100%"></div>
        <div class="flecha flechasig negativo" id="sig"><img src="../../static/css/img/boton siguiente.png" alt="sig" height="100px" width="100px"></div>
    </div>
    <!--<div class="galeria">
        <div><img src="../static/css/img/Empoderada.jpeg" alt="empoderada" height="500px" width="500px"></div>
        <div><img src="../static/css/img/snoopy corazon.jpg" alt="snoopy" height="500px" width="500px"></div>
        <div><img src="../static/css/img/Ternu con gorra.jpeg" alt="ternugorra" height="500px" width="500px"></div>
    </div>-->
    
    <script src="../../static/css/js/slider.js"></script>
</body>

</html>