body {
    background-color: rgb(131, 182, 86);
    font-family: fantasy;
}

h2 {
    color: blueviolet;
    font-weight: 100;
}

h3 {
    color: brown;
}

.descripcion {
    font-family: 'Lucida Sans';
}

table{
    background-color: rgb(168, 249, 218);
    height: 300px; /* este height y el widht no lo
     va a tomar , porque las imagenes ya tienen
     un valor de height y widht, el cual toman
     primero.*/
    width: 300px;
    padding: 25px;
    margin: 20px;
    border: 1px solid black;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: -internal-center;
}
.Vacunas {
    border: 1px solid rgb(165, 47, 4);
    padding: 10px;
}
.logo {
    background-color: rgb(209, 115, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}
.imagen-logo {
    display: inline-block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 100%;
    color: rgb(241, 245, 244);
}

.nav-bar {
    display: inline-block;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

nav ul li a:visited {
    color: aliceblue;
    /* Color de los enlaces visitados */
}

nav ul li a:hover {
    color: #1BF7DE;
}
@media (max-widht: 767px) {
    .logo {
        background-color: rgb(209, 115, 7);
    }
}
@media (max-widht: 767px) {
    nav ul li a{
        font-size: 25px;
    }
}

/* si queres celeccionar con la clase pones . ;
si queres seleccionar id pones #.
Mientras mas abajo este la orden para el CSS, más bola le va
a dar. O sea si repetis selector por ej, le va a dar bola
a la ultima orden el CSS. 
Además, mientras más específico sea el selector, más caso le va a dar 
el CSS. O sea tenes dos indicaciones en el CSS para el mismo
título, diferente indicacion, va a ser caso al más 
específico. El maaaaaas específico es el id, siempre.
el orden de especificidad lo da: 1° id, 2° clase, 3° etiqueta.*/
/*etiqueta de bloque te ocupa todo el ancho, a menos que le 
pongas widht o height. */
