.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 510px;
  position: relative;
}
.flechasig {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.flechaant {
  position: absolute;
  left: 10px;
  top: 38%;
  transform: translateY(-50%);
}
.galeria {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  height: 510px;
  margin-top: 20px;
}
button {
  height: 50px;
  margin: 10px 0px 10px 50%;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.imagen img {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.slide-left {
  animation-name: slideInLeft;
}

.slide-right {
  animation-name: slideInRight;
}
.negativo {
  filter: invert(1);
}
.rotar-180 {
  transform: rotate(180deg);
}