.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 510px;
  position: relative;
}
.flechasig {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.flechaant {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.galeria {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  height: 510px;
  margin-top: 20px;
}
button {
  height: 50px;
  margin: 10px 0px 10px 50%;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.imagen img {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.slide-left {
  animation-name: slideInLeft;
}

.slide-right {
  animation-name: slideInRight;
}
.negativo {
  filter: invert(1);
}

@media (max-width: 768px){
  div#slider-placeholder{
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .slider {
    position: relative; /* Necesario para que los elementos hijos con posición absoluta se posicionen respecto a este contenedor */
    width: 300px; /* Ancho del contenedor */
    height: 200px; /* Altura del contenedor */
}

.imagen, .flecha.flechaant.rotar-180.negativo {
    position: absolute; /* Posición absoluta para superponer imágenes */
    width: 100%; /* Ajusta el ancho de las imágenes según sea necesario */
    height: 100%; /* Ajusta la altura de las imágenes según sea necesario */
    
}

.imagen {
    z-index: 1; /* Imagen de fondo */
}
.flecha.flechaant.rotar-180.negativo, .flecha.flechasig.negativo {
    z-index: 2;

  }
  .flecha.flechasig.negativo{
  position: absolute;
  right: -170px;
  top: 45%;
  transform: translateY(-50%);
  }
  .flecha.flechaant.rotar-180.negativo{ 
  position: absolute;
  left: -170px;
  top: 70%;
  transform: translateY(-50%);
}

}
@media (max-width: 375px){
  .slider {
    display: none;
  }
  .flechasig {
    display: none;
  }
  .flechaant {
    display: none;
  }
  .galeria {
    display: none;
  }
  button {
    display: none;
  }
}