<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto Refugio El Mestizo.</title>
    <link rel="icon" href="./imagen/Pata.ico">

    
    <link rel="stylesheet" href="../static/css/refugio.css">
</head>

<body>
    <div id="navbar-placeholder"></div>
    <section id="formulario-contacto">
        <h1 id="contactanos">Contactanos.</h1>
        <img src="../static/css/img/refugio.jpg" alt="Refugio" width="500vw">
        <p style="color:blue">
            Para hacer donaciones o ser madrina/padrino,
            comunicate al tel (+549)223-456789.
        </p>
        <p>Whatsapp +549225745689</p>
        <p>Correo: elmestizo@gmail.com.ar</p>
        <h3>Formulario de contacto.</h3>
        <form>
            <p><label for="Nombre y apellido:">Nombre y apellido:</label>
                <input type="text" size="30" name="nombre" id="nombre">
            </p>
            <p><label for="Email:">Email:</label>
                <input type="email" size="30" name="email" id="email">
            </p>
            <p>
                <label for="Telefono:">Teléfono:</label>
                <input type="tel" size="30">
            </p>
            <p>
                <label for="intencion">¿Qué querés hacer?</label>
            </p>
            <p>
                <label for="Adoptar">Adoptar</label>
                <input type="checkbox" name="opcion" value="adoptar">
            </p>
            <p>
                <label for="Apadrinar">Apadrinar</label>
                <input type="checkbox" name="opcion" value="apadrinar">
            </p>
            <p>
                <label for="Visitarnos">Visitarnos</label>
                <input type="checkbox" name="opcion" value="visitarnos">
            </p>

            <div class="textarea"><label for="Comentario.">Comentario:</label>
        
                <textarea name="comentario" id="comentario" rows="4" cols="50"></textarea>
            </div>

            <p><button type="submit">Enviar</button></p>
        </form>
    </section>
    <div id="footer-placeholder"></div>
</body>
<script src="../static/css/js/nyfloader.js"></script>

</html>