<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto Refugio El Mestizo.</title>
    <link rel="icon" href="./imagen/Pata.ico">

    <script src="https://kit.fontawesome.com/e232c8237d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/refugio.css">
</head>

<body>
    <div id="navbar-placeholder"></div>
    <main>
        <section class="perromatch">
            <h1>PerroMatch</h1>
        </section>
        <section id="formulario-contacto">
            <p>
                Ingresa tus datos en este formulario y te ayudaremos a encontrar a
                tu mascota ideal, segun tus posibilidades y tu experiencia. Esto es sólo
                una sugerencia, vos vas a terminar decidiendo quien va a ser tu nuevo compañero.
            </p>
            <div class="contact-box">
                <h3 class="titulo-formulario"></h3>
                <form>
                    <p><label for="Edad:">Edad:</label>
                    <div id="nombre-error" class="error-message"></div>
                    <input type="number" size="30" name="edad" id="edad">

                    </p>
                    <p><label for="Patio:">¿Tenés patio?:</label>
                    </p>
                    <p>
                        <label for="nopatio">No</label>
                        <input type="checkbox" name="opcion" value="nopatio">
                    </p>
                    <p>
                        <label for="sipatio">Si</label>
                        <input type="checkbox" name="opcion" value="sipatio">
                    </p>
                    <p>
                        <label for="niños">¿Tenés hijos o vivís con niños?:</label>
                    </p>
                    <p>
                        <label for="noniños">No</label>
                        <input type="checkbox" name="opcion" value="noniños">
                    </p>
                    <p>
                        <label for="siniños">Si</label>
                        <input type="checkbox" name="opcion" value="siniños">
                    </p>
                    <p>
                        <label for="niños">¿Tenés otros perros?:</label>
                    </p>
                    <p>
                        <label for="noperros">No</label>
                        <input type="checkbox" name="opcion" value="noperros">
                    </p>
                    <p>
                        <label for="siperros">Si</label>
                        <input type="checkbox" name="opcion" value="siperros">
                    </p>
                    <button type="submit">Ver</button>
                </form>
        </section>
        </div>
    </main>
    <div id="footer-placeholder"></div>
</body>
<script src="../static/css/js/nyfloader.js"></script>
<script src="../static/css/js/perromatch.js"></script>

</html>