<!doctype html>
<html>

<head>
    <title>Historia de superacion: Ternura.</title>

    <link rel="icon" href="../static/css/img/Pata.ico">
    <link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>
    <div id="navbar-placeholder"></div>
    <!-- <header>
        <div class="logo">
            <div class="imagen-logo"><img src="../static/css/img/refugio logo.jpg" alt="logo"></div>
            <div class="nav-bar">
                <nav role="navigation">
                    <ul>
                        <li><a href="index.html" target="_self">Refugio El Mestizo.</a></li>
                        <li><a href="contacto.html">Contacto.</a></li>
                        <li><a href="#Vacunas">Vacunas.</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header> -->
    <div>
        <img src="../static/css/img/Ternu.jpeg" alt="Aca estuvo la Ternu" height="350" width="200">
        <img src="../static/css/img/snoopy corazon.jpg" alt="snoopy corazon">
        <img src="../static/css/img/Ternu con gorra.jpeg" alt="Ternu gorra" height="480" width="440">
    </div>
    <h2>Galería de fotos.</h2>
    <table>
        <tr>
            <th>Primer dia de mi nueva vida.</th>
            <th>Primera foto.</th>
            <th>Mi primer cucha.</th>
        </tr>
        <tr>
            <td><img src="../static/css/img/Primer dia.jpeg" alt="Primer dia" height="380" width="300"></td>
            <td><img src="../static/css/img/Primer foto.jpeg" alt="Primera foto" height="420" width="400"></td>
            <td><img src="../static/css/img/estrenando cucha.jpeg" alt="estrenando cucha" height="500" width="400"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Recuperandome.</th>
            <th>Empoderada y loca.</th>
        </tr>
        <tr>
            <td><img src="../static/css/img/Recuperandose.jpeg" alt="Recuperandome" height="380" width="300"></td>
            <td><img src="../static/css/img/Empoderada.jpeg" alt="Empoderada" height="500" width="400"></td>
        </tr>
    </table>
    <h2>Mi nueva vida.</h2>
    <p class="descripcion">Yo lo unico que queria hacer era dormir, temblaba todo el tiempo porque estaba muy nerviosa,
        pero como no tenia
        fuerzas no luchaba, miraba con dulzura en la espera de ver que me hacian. Pero al fin comprendi que lo
        que queria esta señora era ayudarme a vivir. Asi que la quiero y le pido siempre que me acaricie o que se quede
        a
        mi lado. Y se que ella me quiere, porque me da de comer jijiji.</p>

    <div id="Vacunas">
        <h3>Vacunas</h3>
        <ul>
            <li>Vacuna de la rabia</li>
            <li>Primera dosis de quintuple</li>
        </ul>
    </div>

    <ul>
        <li><a href="#">Facebook.</a></li>
        <li><a href="#">Instagram.</a></li>
        <li><a href="#">Tik Tok.</a></li>
    </ul>
</body>
<script src="../static/css/js/nyfloader.js"></script>
</html>